/* Global */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    margin: 2px auto;
    width: fit-content;
}

/* Index */
#nav-links {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

/* Writer & Reader */
.container {
    display: grid;
    padding: 1em;
    justify-items: center;
    margin: 1em 5em;
    flex: 1;
    grid-template-rows: auto 1fr auto;
    border: 1px solid blue;
}

#timestamp {
    justify-self: end;
    display: flex;
    height: 1em;
    margin: 0.25em;
    justify-content: flex-end;
}

#timestampLabel, #timestampValue {
    width: fit-content;
}

.button {
    margin: 0.25em;
    padding: 0.25em 3em;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}

.noteListContainer {
    justify-items: center;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.notesContainer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.noteText {
    flex: 0 0 auto;
    width: 200px;
    min-height: 80px;
    padding: 10px;
    background-color: #4f71bf;
    color: white;
    border: 2px solid #3a5a8a;
    border-radius: 5px;
    resize: both;
    font-size: 14px;
}

#backBtn {
    background-color: #BD7FFF;
    border: #8e67c3 2px solid;
}

/* Writer */
#addBtn {
    justify-self: start;
    background-color: #7eab54;
    border: #577440 2px solid;
    margin: 1em;
}

.removeBtn {
    background-color: #e8a04c;
    border: #a36e2f 2px solid;
}

/* Reader */
.readOnly {
    resize: none;
}
