@using System.Text.Json
@model List<ChartDemo.Models.MonthlyCategorySalesViewModel>

<h2>Line Chart</h2>
<canvas id="lineChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@{
    var monthLabelsJson = JsonSerializer.Serialize(Model.Select(record => record.Month).ToList());
    var electronicsValuesJson = JsonSerializer.Serialize(Model.Select(record => record.Electronics).ToList());
    var clothingValuesJson = JsonSerializer.Serialize(Model.Select(record => record.Clothing).ToList());
    var homeValuesJson = JsonSerializer.Serialize(Model.Select(record => record.Home).ToList());
}

<script>
    const lineContext = document.getElementById('lineChart');
    const data = {
        labels: @Html.Raw(monthLabelsJson),
        datasets: [
            { label: 'Electronics', data: @Html.Raw(electronicsValuesJson) },
            { label: 'Clothing', data: @Html.Raw(clothingValuesJson) },
            { label: 'Home', data: @Html.Raw(homeValuesJson) }
        ]
    }

    new Chart(lineContext, {
        type: 'line',
        data: data,
    });
</script>