[submodule "CST/Term2/Comp2537/BCIT-COMP2537-Assignment1"]
	url = https://github.com/YuanXiQWQ/BCIT-COMP2537-Assignment1.git
[submodule "CST/Term2/Comp2537/BCIT-COMP2537-Assignment2"]
	url = https://github.com/YuanXiQWQ/BCIT-COMP2537-Assignment2.git
[submodule "CST/Term2/Comp2537/BCIT-COMP2537-Assignment3"]
	url = https://github.com/YuanXiQWQ/BCIT-COMP2537-Assignment3.git
[submodule "CST/Term2/Comp2537/BCIT-COMP2537-Assignment4"]
	url = https://github.com/YuanXiQWQ/BCIT-COMP2537-Assignment4.git
